/* line 5, app/assets/stylesheets/carts.scss */
.carts table {
  border-collapse: collapsel;
}

/* line 8, app/assets/stylesheets/carts.scss */
.carts td {
  padding: 0.5em;
}

/* line 11, app/assets/stylesheets/carts.scss */
.carts td.quantity {
  white-space: nowrap;
}

/* line 14, app/assets/stylesheets/carts.scss */
.carts td.quantity::after {
  content: " x";
}

/* line 17, app/assets/stylesheets/carts.scss */
.carts td.price {
  font-weight: bold;
  text-align: right;
}

/* line 22, app/assets/stylesheets/carts.scss */
.carts tfoot th, .carts tfoot th.price {
  font-weight: bold;
  padding-top: 1em;
}

/* line 26, app/assets/stylesheets/carts.scss */
.carts tfoot th {
  text-align: right;
}

/* line 29, app/assets/stylesheets/carts.scss */
.carts tfoot td.price {
  border-top: solid thin;
}

/* line 33, app/assets/stylesheets/carts.scss */
.carts input[type="submit"] {
  background-color: #881;
  border-radius: 0.354em;
  border: solid thin #441;
  color: white;
  font-size: 1em;
  padding: 0.354em 1em;
}

/* line 41, app/assets/stylesheets/carts.scss */
.carts input[type="submit"]:hover {
  background-color: #992;
}
@keyframes line-item-highlight {
  0% {
    background: #8f8;
  }
  100% {
    background: none;
  }
}

/* line 13, app/assets/stylesheets/line_items.scss */
.line-item-highlight {
  animation: line-item-highlight 1s;
}
/* line 5, app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}

/* line 9, app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}

/* line 13, app/assets/stylesheets/products.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}

/* line 17, app/assets/stylesheets/products.scss */
.products .list_description {
  width: 60%;
}

/* line 19, app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}

/* line 22, app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}

/* line 27, app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}

/* line 31, app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: lem;
}

/* line 36, app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #e0f8f8;
}

/* line 39, app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #f8b0f8;
}
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

/* line 6, app/assets/stylesheets/scaffolds.scss */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 11, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 19, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 26, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 29, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 32, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 36, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 51, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 64, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 4, app/assets/stylesheets/store.scss */
.store {
  max-width: 80em;
}

/* line 6, app/assets/stylesheets/store.scss */
.store ul.catalog {
  border-top: solid 0.250em;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 11, app/assets/stylesheets/store.scss */
.store ul.catalog li {
  padding: 1em;
  margin: 0;
  border-bottom: solid thin #ddd;
}

/* line 17, app/assets/stylesheets/store.scss */
.store ul.catalog li::after {
  clear: both;
  content: " ";
  display: block;
}

/* line 22, app/assets/stylesheets/store.scss */
.store ul.catalog li img {
  float: left;
  padding: 1em;
  margin-right: 1em;
  width: 200px;
  height: 200px;
  box-shadow: 0.176em 0.176em 0.354em 0px rgba(0, 0, 0, 0.75);
}

/* line 30, app/assets/stylesheets/store.scss */
.store ul.catalog li .price {
  font-size: 1.414em;
}

/* line 34, app/assets/stylesheets/store.scss */
.store ul.catalog li form, .store ul.catalog li div {
  display: inline;
}

/* line 37, app/assets/stylesheets/store.scss */
.store ul.catalog li input[type="submit"] {
  background-color: #282;
  border-radius: 0.354em;
  border: solid thin #141;
  color: white;
  font-size: 1em;
  padding: 0.354em 1em;
}

/* line 45, app/assets/stylesheets/store.scss */
.store ul.catalog li input[type="submit"]:hover {
  background-color: #141;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 16, app/assets/stylesheets/application.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 20, app/assets/stylesheets/application.scss */
header.main {
  text-align: center;
  background: #f0ffff;
  margin: 0;
}

@media (min-width: 30em) {
  /* line 20, app/assets/stylesheets/application.scss */
  header.main {
    text-align: left;
  }
}

/* line 27, app/assets/stylesheets/application.scss */
header.main h1 {
  display: none;
}

/* line 31, app/assets/stylesheets/application.scss */
.content {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-orient: normal;
}

@media (min-width: 30em) {
  /* line 31, app/assets/stylesheets/application.scss */
  .content {
    flex-direction: row;
    -webkit-box-orient: horizontal;
  }
}

/* line 46, app/assets/stylesheets/application.scss */
.content nav {
  padding-bottom: 1em;
  background: #fff8dc;
  text-align: center;
}

@media (min-width: 30em) {
  /* line 46, app/assets/stylesheets/application.scss */
  .content nav {
    text-align: left;
    padding: 1em;
  }
}

/* line 54, app/assets/stylesheets/application.scss */
.content nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 30em) {
  /* line 54, app/assets/stylesheets/application.scss */
  .content nav ul {
    padding-right: 1em;
  }
}

/* line 61, app/assets/stylesheets/application.scss */
.content nav ul li {
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.354em;
}

/* line 66, app/assets/stylesheets/application.scss */
.content nav ul li a {
  color: #00008b;
  text-decoration: none;
}

/* line 70, app/assets/stylesheets/application.scss */
.content nav ul li a:hover {
  background: none;
  color: white;
}

/* line 77, app/assets/stylesheets/application.scss */
.content main {
  padding: 0.5em;
}

/* line 81, app/assets/stylesheets/application.scss */
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.441em;
  text-align: center;
}

/* line 92, app/assets/stylesheets/application.scss */
#cart article {
  background: white;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1.414em;
}

/* line 93, app/assets/stylesheets/application.scss */
#cart article h2 {
  margin-top: 0;
}

@media (min-width: 30em) {
  /* line 92, app/assets/stylesheets/application.scss */
  #cart article {
    margin: 0;
  }
}

/* line 105, app/assets/stylesheets/application.scss */
.depot_form {
  padding: 0 1em;
}

/* line 107, app/assets/stylesheets/application.scss */
.depot_form h1 {
  font-size: 1.99em;
  line-height: 1.41em;
  margin-bottom: 0.5em;
  padding: 0;
}

/* line 113, app/assets/stylesheets/application.scss */
.depot_form .field, .depot_form .actions {
  margin-bottom: 0.5em;
  padding: 0;
}

/* line 117, app/assets/stylesheets/application.scss */
.depot_form .actions {
  text-align: right;
  padding: 1em 0;
}

/* line 121, app/assets/stylesheets/application.scss */
.depot_form input, .depot_form textarea, .depot_form select, .depot_form option {
  border: solid thin #888;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}

/* line 128, app/assets/stylesheets/application.scss */
.depot_form label {
  padding: 0.5em 0;
}

/* line 132, app/assets/stylesheets/application.scss */
.depot_form input[type="submit"] {
  background-color: #bfb;
  border-radius: 0.354em;
  border: solid thin #888;
  color: black;
  font-size: 1.41em;
  font-weight: bold;
  padding: 0.354em 1em;
}

/* line 141, app/assets/stylesheets/application.scss */
.depot_form input[type="submit"]:hover {
  background-color: #9d9;
}

/* line 144, app/assets/stylesheets/application.scss */
.depot_form #error_explanation {
  background-color: white;
  border-radius: 1em;
  border: solid thin red;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100% h2;
  width-background: none;
  width-color: red;
  width-font-size: 1.41em;
  width-line-height: 1.41em;
  width-padding: 1em;
}

/* line 158, app/assets/stylesheets/application.scss */
.depot_form #error_explanation ul {
  margin-top: 0;
}

/* line 160, app/assets/stylesheets/application.scss */
.depot_form #error_explanation ul li {
  color: red;
  font-size: 1em;
}

/* line 166, app/assets/stylesheets/application.scss */
.depot_form .field_with_errors {
  background: none;
  color: red;
  width: 100%;
}

/* line 170, app/assets/stylesheets/application.scss */
.depot_form .field_with_errors label {
  font-weight: bold;
}

/* line 173, app/assets/stylesheets/application.scss */
.depot_form .field_with_errors label::before {
  content: "!";
}

/* line 176, app/assets/stylesheets/application.scss */
.depot_form .field_with_errors input, .depot_form .field_with_errors textarea {
  background: pink;
}

/* line 181, app/assets/stylesheets/application.scss */
nav.logged_in_nav {
  border-top: solid thin #bfb;
  padding: 0.354em 0;
  margin-top: 0.354em;
}

/* line 185, app/assets/stylesheets/application.scss */
nav.logged_in_nav input[type="submit"] {
  background: none;
  border: none;
  color: blue;
  font-size: 1em;
  letter-spacing: 0.354em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 195, app/assets/stylesheets/application.scss */
nav.logged_in_nav input[type="submit"]:hover {
  color: white;
}

/*# sourceMappingURL=application.css-59abe1a0d8dacfb9a603ecef6eabaa698226aecf3f23e7310081a2e6a09781b5.map */
